@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Incorporates all of the services of the Rackspace Cloud that are available via the OpenStack.NET SDK.
    </p>
</article>

<aside>
    <h3>Need more help?</h3>
    <p>
        Visit <a href="developer.rackspace.com" target="_blank">developer.rackspace.com</a> for more information about the OpenStack.NET SDK, as well as other programming languages.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
    </ul>
</aside>