@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>About this application:</h3>
<ol class="round">
    <li class="one">
        <h5>OpenStack.NET SDK Sample Application</h5>
        SDK version 1.x<br />
        Application version 1.0<br />
        This application uses the sample code found at <a href="http://developer.rackspace.com" target="_blank">developer.rackspace.com</a> to demonstrate the capabilities of the OpenStack.NET SDK and the Rackspace Cloud.
    </li>

</ol>
