@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
        </div>
    </section>
}
<h3>About this application:</h3>
<ol class="round">
    <li class="one">
        <h5>OpenStack.NET Upload Examples, version 1.0.0</h5>
        This application has two example pages that demonstrate uploading an object to Cloud Storage, displaying a progress bar during the upload.
    </li>

</ol>
