@{
    ViewBag.Title = "Identity";
}

<h2>Identity</h2>
<h3>@ViewBag.LastOperation</h3>
@using (Html.BeginForm("Authenticate","Identity"))
{
    <p>Username</p>
    <p>@Html.TextBox("Username")</p>
    <p>APIKey</p>
    <p>@Html.TextBox("APIKey")</p>
    <p><input type="submit" name="Submit" value="Authenticate" /></p>
}
